In [12]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [16]:
raw_campaign_finance <- read.table("campaign_finance.txt", sep = "|", header = FALSE, na.strings = c("", "NA"),fill = TRUE)

# Assign column names  
colnames(raw_campaign_finance) <- c("CAND_ID", "CAND_NAME", "CAND_ICI","PTY_CD","CAND_PTY_AFFILIATION", "TTL_RECEIPTS", "TRANS_FROM_AUTH", "TTL_DISB", 
                        "TRANS_TO_AUTH", "COH_BOP", "COH_COP","CAND_CONTRIB", "CAND_LOANS", "OTHER_LOANS", "CAND_LOAN_REPAY", "OTHER_LOAN_REPAY", 
                        "DEBTS_OWED_BY","TTL_INDIV_CONTRIB", "CAND_OFFICE_ST", "CAND_OFFICE_DISTRICT", "SPEC_ELECTION", "PRIM_ELECTION", "RUN_ELECTION", 
                        "GEN_ELECTION", "GEN_ELECTION_PRECENT", "OTHER_POL_CMTE_CONTRIB", "POL_PTY_CONTRIB", "CVG_END_DT", "INDIV_REFUNDS", "CMTE_REFUNDS")

# Select needed columns
reduced_finance <- raw_campaign_finance |>
                select("CAND_ID","CAND_NAME", "PTY_CD", "CAND_PTY_AFFILIATION", "TTL_RECEIPTS", "TRANS_FROM_AUTH", "TTL_DISB", "TRANS_TO_AUTH", "COH_BOP", 
                         "COH_COP","CAND_CONTRIB", "CAND_LOANS", "DEBTS_OWED_BY", "TTL_INDIV_CONTRIB", "OTHER_POL_CMTE_CONTRIB", "POL_PTY_CONTRIB")

head(reduced_finance)

  CAND_ID   CAND_NAME                  PTY_CD CAND_PTY_AFFILIATION TTL_RECEIPTS
1 H2AK00200 CONSTANT, CHRISTOPHER      1      DEM                        0.00
2 H2AK01158 PELTOLA, MARY              1      DEM                  2912626.22
3 H2AK00226 PALIN, SARAH               2      REP                     3866.49
4 H2AK01083 BEGICH, NICHOLAS III       2      REP                   392255.91
5 H4AK00156 DAHLSTROM, NANCY           2      REP                   204302.93
6 H4AL01255 HOLMES, THOMAS BETHUNE MR. 1      DEM                     4808.06
  TRANS_FROM_AUTH TTL_DISB   TRANS_TO_AUTH COH_BOP   COH_COP    CAND_CONTRIB
1     0.00              0.00 0                  0.00       0.00    0.00
2 41500.00        1829139.84 0             691260.30 1774746.68    0.00
3     0.00          50246.07 0              46379.58       0.00    0.00
4     0.00         252609.96 0              41233.99  180879.94   99.00
5 22909.71           3236.63 0                  0.00  201066.30    0.00
6     0.00           4191.99 0                  0.00     616.07 4612.94
  CAND_LOANS DEBTS_OWED_BY TTL_INDIV_CONTRIB OTHER_POL_CMTE_CONTRIB
1 0          143180.1            0.00             0.0
2 0               0.0      2111538.46        704798.2
3 0               0.0            0.00             0.0
4 0          425000.0       391696.90             0.0
5 0               0.0        28918.22        152475.0
6 0               0.0          195.00             0.0
  POL_PTY_CONTRIB
1    0.00
2 1871.87
3    0.00
4    0.00
5    0.00
6    0.00

In [20]:
# Check for missing values
na_rows <- reduced_finance %>%
  filter(rowSums(is.na(.)) > 0)
# na_rows

# Drop the one row with NA data
filtered_finance <- reduced_finance %>%
    filter(!is.na(PTY_CD)) 
head(filtered_finance)

  CAND_ID   CAND_NAME                  PTY_CD CAND_PTY_AFFILIATION TTL_RECEIPTS
1 H2AK00200 CONSTANT, CHRISTOPHER      1      DEM                        0.00
2 H2AK01158 PELTOLA, MARY              1      DEM                  2912626.22
3 H2AK00226 PALIN, SARAH               2      REP                     3866.49
4 H2AK01083 BEGICH, NICHOLAS III       2      REP                   392255.91
5 H4AK00156 DAHLSTROM, NANCY           2      REP                   204302.93
6 H4AL01255 HOLMES, THOMAS BETHUNE MR. 1      DEM                     4808.06
  TRANS_FROM_AUTH TTL_DISB   TRANS_TO_AUTH COH_BOP   COH_COP    CAND_CONTRIB
1     0.00              0.00 0                  0.00       0.00    0.00
2 41500.00        1829139.84 0             691260.30 1774746.68    0.00
3     0.00          50246.07 0              46379.58       0.00    0.00
4     0.00         252609.96 0              41233.99  180879.94   99.00
5 22909.71           3236.63 0                  0.00  201066.30    0.00
6     0.00           4191.99 0                  0.00     616.07 4612.94
  CAND_LOANS DEBTS_OWED_BY TTL_INDIV_CONTRIB OTHER_POL_CMTE_CONTRIB
1 0          143180.1            0.00             0.0
2 0               0.0      2111538.46        704798.2
3 0               0.0            0.00             0.0
4 0          425000.0       391696.90             0.0
5 0               0.0        28918.22        152475.0
6 0               0.0          195.00             0.0
  POL_PTY_CONTRIB
1    0.00
2 1871.87
3    0.00
4    0.00
5    0.00
6    0.00